/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;700&family=Wix+Madefor+Display:wght@400;700&display=swap");

/* Base HTML Styles */

:root {
  --pink: #ffaee4;
  --lightpink: rgba(255, 174, 228, 0.6);
  --purple: #bcaeff;
  --lightpurple: rgba(188, 174, 255, 0.6);
  --tooltippurple: rgba(188, 174, 255, 0.8);
  --blue: #aee2ff;
  --black: #111111;
  --gray: #c3c3c3;
}

/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Global styles */
h1,
h2,
h3,
h4 {
  font-family: "Domine", serif;
}
h1 {
  font-weight: 700;
  font-size: 4rem;
}
body {
  font-family: "Wix Madefor Display", sans-serif;
  line-height: 1.5;
}

footer {
  background-color: var(--purple);
  text-align: center;
  padding: 16px;
}

/* Components */
.btn-primary {
  background: var(--lightpink);
  background-image: -webkit-linear-gradient(
    top,
    var(--lightpink),
    var(--lightpurple)
  );
  background-image: -moz-linear-gradient(
    top,
    var(--lightpink),
    var(--lightpurple)
  );
  background-image: -ms-linear-gradient(
    top,
    var(--lightpink),
    var(--lightpurple)
  );
  background-image: -o-linear-gradient(
    top,
    var(--lightpink),
    var(--lightpurple)
  );
  background-image: linear-gradient(
    to bottom,
    var(--lightpink),
    var(--lightpurple)
  );
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 16px;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.btn-primary:hover {
  background: var(--pink);
  background-image: -webkit-linear-gradient(top, var(--pink), var(--purple));
  background-image: -moz-linear-gradient(top, var(--pink), var(--purple));
  background-image: -ms-linear-gradient(top, var(--pink), var(--purple));
  background-image: -o-linear-gradient(top, var(--pink), var(--purple));
  background-image: linear-gradient(to bottom, var(--pink), var(--purple));
  font-weight: 700;
}

/* Header */
.desktop-nav {
  display: none;
}

@media (min-width: 768px) {
  .desktop-nav {
    display: inline-block;
  }

  .desktop-nav ul {
    display: flex;
    gap: 24px;
    margin-right: 16px;
  }

  .desktop-nav li {
    border: var(--purple) 1.5px solid;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    transition: all 0.6s ease;
  }
  .desktop-nav li:hover {
    transform: scale(1.2);
    box-shadow: 10px 5px 5px var(--lightpurple);
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

header a {
  text-decoration: none;
  color: var(--purple);
}
header .name-link {
  font-family: "Domine", serif;
  font-weight: 700;
  font-size: 1.75rem;
  color: var(--purple);
  transition: all 0.6s ease;
}

header .name-link:hover {
  transform: scale(1.1);
}

header svg {
  height: 50px;
  color: var(--purple);
}

header .hamburger-button,
header .exit-button {
  background-color: unset;
  border: none;
}
@media (min-width: 768px) {
  header .hamburger-button,
  header .exit-button {
    display: none;
  }
}

.mobile-header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav a {
  text-decoration: none;
  color: var(--purple);
  display: block;
  padding: 4px 16px;
  text-align: right;
  transition: all 0.3s ease;
}
.mobile-nav a:hover {
  font-weight: 700;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

/* About Me */
#about {
  padding: 56px 24px;
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  #about {
    gap: 5rem;
  }
}

#about::before {
  content: "";
  background-image: linear-gradient(
      90deg,
      rgba(235, 152, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../images/profile-img-3.png");
  position: absolute;
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
}

#about h1 {
  margin-bottom: 16px;
}

#about,
#about p,
#about h1 {
  position: relative;
}

#about p {
  font-size: 112%;
}

@media (min-width: 768px) {
  #about::before {
    display: none;
  }

  #about .my-info {
    flex: 1;
  }
}

#about .profile-pic {
  display: none;
}

@media (min-width: 768px) {
  #about .profile-pic:before {
    display: flex;
    flex: 1;
  }
  
  #about .profile-pic {
    display:unset; 
    border-radius: 24px;
  }
}

/* Projects */
#projects {
  padding: 16px;
}
#projects .project-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 768px) {
  #projects .project-wrapper {
    flex-direction: row;
  }
}

#projects h2 {
  padding-left: 24px;
  padding-right: 24px;
  font-size: 3rem;
}

#projects h3 {
  padding-bottom: 16px;
  font-size: 2rem;
}

#projects .project {
  padding: 24px;
  border: var(--pink) 4px solid;
  border-radius: 8px;
}
@media (min-width: 768px) {
  #projects .project {
    min-height: 40vh;
    flex: 1;
  }
}
#projects .evens {
  background-color: var(--purple);
}
#projects a {
  text-decoration: none;
  font-weight: 700;
  color: var(--black);
  transition: all 0.3s ease;
}

#projects a:hover {
  text-shadow: 0.7px 0.7px 0.7px rgba(0, 0, 0, 1);
}

#background-video {
  padding: 16px;
  max-width: 100%;
}

/* Contact Me */
.contact {
  padding: 32px 16px;
  text-align: center;
}
.contact a {
  margin: 16px;
}
.contact h3 {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 2rem;
  margin-bottom: 32px;
}
.contact hr {
  display: block;
  border-top: 8px dotted;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 10%;
  color: var(--purple);
  padding-bottom: 24px;
}

/* Footer  */
.footer-link .fa-brands,
.footer-link .fa-solid {
  color: var(--black);
}
footer .socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 16px;
}

footer small {
  display: block;
}
/* Contact Page */
/* Article */
.contact-section {
  text-align: center;
}

@media (min-width: 768px) {
  .contact-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
  .bitmoji,
  .contact-section article {
    flex: 1;
  }
}

#icons img {
  height: 10vh;
  padding-top: 16px;
}

.contact-section p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.contact-section,
.contact-section .fa-envelope,
.contact-section p {
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .contact-section,
  .contact-section .fa-envelope,
  .contact-section p {
    padding: 32px 16px;
  }
}

.contact-section .fa-envelope {
  scale: 1.5;
  color: var(--black);
}

/* Contact Form */
#contact {
  display: flex;
  justify-content: space-around;
}

#contact-form,
#contact {
  padding: 16px;
  margin-bottom: 8px;
}

#contact-form {
  background-color: var(--blue);
  border-radius: 8px;
}

#contact-form input[type="submit"] {
  border: 0;
  margin-top: 16px;
}
#contact-form input {
  margin-bottom: 16px;
}
#contact-form input,
#contact-form textarea {
  padding: 8px;
}

#contact-form,
#contact-form label,
#contact-form input,
#contact-form textarea {
  display: block;
  width: 100%;
}
/* Utilities */
.display-none {
  display: none;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  padding: 16px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 90px;
  border: var(--purple) 2px solid;
  background-color: var(--tooltippurple);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  transform: translateY(100%) translateX(-70%);
}
.tooltiptext a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext a:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
